<launch>
	<arg name="output" default="log"/>
	<arg name="publish_clock" default="false"/>
	<arg name="is_vulkan" default="true"/>
	<arg name="host" default="localhost" />

	<!-- Drone1 -->
	<node name="airsim_node_IMU_RGBDSS_drone1" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone1" />
	</node>

	<!-- Drone2 -->
	<node name="airsim_node_IMU_RGBDSS_drone2" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone2" />
	</node>

	<!-- Drone3 -->
	<node name="airsim_node_IMU_RGBDSS_drone3" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone3" />
	</node>

	<!-- Drone4 -->
	<node name="airsim_node_IMU_RGBDSS_drone4" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone4" />
	</node>

	<!-- Drone5 -->
	<node name="airsim_node_IMU_RGBDSS_drone5" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone5" />
	</node>

	<!-- Drone6 -->
	<node name="airsim_node_IMU_RGBDSS_drone6" pkg="airsim_ros_pkgs" type="airsim_node_IMU_RGBDSS" output="$(arg output)">
		<param name="is_vulkan" type="bool" value="true" /> 
		<!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
		<param name="update_airsim_img_response_every_n_sec" type="double" value="0.001" /> 
		<param name="update_airsim_control_every_n_sec" type="double" value="0.005" />
		<param name="publish_clock" type="bool" value="$(arg publish_clock)" />
		<param name="host_ip" type="string" value="$(arg host)" />
		<param name="drone_name" type="string" value="Drone6" />
	</node>

	<!-- Static transforms -->
	<include file="$(find airsim_ros_pkgs)/launch/static_transforms.launch"/>
</launch>