<?xml version="1.0"?>
<launch>
    <!-- Integrated AirSim + SlideSLAM + Resource-Aware Coordination -->
    
    <!-- Arguments -->
    <arg name="host" default="localhost"/>
    <arg name="num_drones" default="15"/>
    <arg name="use_lidar" default="true"/>
    <arg name="use_rgbd" default="false"/>
    <arg name="coordination_algorithm" default="RAG"/>
    
    <!-- Global parameters -->
    <param name="use_sim_time" value="false"/>
    
    <!-- Core AirSim nodes for multi-drone system -->
    <include file="$(find airsim_ros_pkgs)/launch/airsim_node_quadrotors_imcov_odom.launch">
        <arg name="host" value="$(arg host)"/>
    </include>
    
    <!-- SlideSLAM Bridge nodes for each drone -->
    <group ns="drone_0">
        <node name="slideslam_bridge" pkg="airsim_ros_pkgs" type="airsim_slideslam_bridge" output="screen">
            <param name="robot_name" value="drone_0"/>
        </node>
        
        <!-- SlideSLAM SLOAM -->
        <include file="$(find sloam)/launch/single_robot_sloam_test.launch">
            <arg name="robot_id" value="0"/>
            <arg name="robot_name" value="drone_0"/>
        </include>
    </group>
    
    <group ns="drone_1">
        <node name="slideslam_bridge" pkg="airsim_ros_pkgs" type="airsim_slideslam_bridge" output="screen">
            <param name="robot_name" value="drone_1"/>
        </node>
        
        <include file="$(find sloam)/launch/single_robot_sloam_test.launch">
            <arg name="robot_id" value="1"/>
            <arg name="robot_name" value="drone_1"/>
        </include>
    </group>
    
    <group ns="drone_2">
        <node name="slideslam_bridge" pkg="airsim_ros_pkgs" type="airsim_slideslam_bridge" output="screen">
            <param name="robot_name" value="drone_2"/>
        </node>
        
        <include file="$(find sloam)/launch/single_robot_sloam_test.launch">
            <arg name="robot_id" value="2"/>
            <arg name="robot_name" value="drone_2"/>
        </include>
    </group>
    
    <!-- Add more drones as needed up to num_drones -->
    
    <!-- Multi-robot utilities and coordination -->
    <include file="$(find multi_robot_utils_launch)/launch/relay_topics_multi_robot.launch">
        <arg name="num_robots" value="$(arg num_drones)"/>
    </include>
    
    <!-- Clock publisher for coordination -->
    <node name="clock_publisher" pkg="image_covering_coordination" type="clock_publisher.py" output="screen"/>
    
    <!-- Connectivity mesh for inter-robot communication -->
    <include file="$(find image_covering_coordination)/launch/connectivity_mesh_neighbors.launch">
        <arg name="num_drones" value="$(arg num_drones)"/>
    </include>
    
    <!-- Resource-Aware Coordination Algorithm -->
    <include file="$(find image_covering_coordination)/launch/image_covering_15drones_RAG.launch" if="$(eval coordination_algorithm == 'RAG')"/>
    <include file="$(find image_covering_coordination)/launch/image_covering_15drones_SG.launch" if="$(eval coordination_algorithm == 'SG')"/>
    
    <!-- Score logger for performance monitoring -->
    <include file="$(find image_covering_coordination)/launch/total_score_collective_FOV_DEBUG.launch"/>
    
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find scan2shape)/rviz/faster-lio-sloam.rviz" 
          output="screen"/>

</launch>