<launch>
<!-- NOTE!! CHECK IF YOU ARE USING RAG OR SG AND ADJUST COMM RANGE BASED ON THAT -->

    <!-- Declare the num_drones argument with a default value -->
    <arg name="num_drones" default="45" />

    <!-- NOTE!! CHECK IF YOU ARE USING RAG OR SG AND ADJUST COMM RANGE BASED ON THAT -->
    <node pkg="image_covering_coordination" name="connectivity_mesh_node" type="get_connectivity_mesh.py" output="screen">
        <param name="num_drones" value="$(arg num_drones)" />
        <param name="communication_range" type="int" value="40"/>
    </node>
</launch>


<!-- how to run:  roslaunch image_covering_coordination connectivity_mesh_neighbors.launch num_drones:=45 -->